<p>
  <i class="custom-icon fas fa-<%= weather(weather_report['main']['temp'].to_f) %>"></i>
  Weather is <strong><%= convert_from_kelvin_to_fahrenheit(weather_report['main']['temp'].to_f) %>&#730;F</strong> in <span id="user-county">your area.</span>
</p>
