.activities-section {
  padding: 0 1rem;
}
.surf-icon {
  width: 100px;
  height: 100px;
}
.activity-text {
  font-weight: bold;
  font-size: 1.5rem;
}
.activity-image {
  width: 100%;
}
.activity-header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}
.activity-header, .activity-text, .activity-date {
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.activity-container {
  position: relative;
}
.activity-top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.activity-date {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.small-activity-image-container {
  width: 33.33333%;
}
.small-activity-image {
  object-fit: cover;
  width: 100%;
  max-height: 150px;
}
.activity-row-container {
  display: flex;
  background-color: #4721ca2e;
  position: relative;
  margin-top: 0.5rem;
  border: 3px solid rgba(0,0,0,0.15);
  border-radius: 3px;
  &.left {
    flex-direction: row-reverse;
  }
}
.left {
  .small-activity-date {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
.right {
  .small-activity-date {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}
.activity-description {
  position: relative;
  padding: 1rem;
  min-width: 200px;
  width: 100%;
}
.small-activity-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
.all-activities-header {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
  font-weight: bold;
}

// MOBILE CSS
@media (max-width: 600px) {
  .activity-image {
    min-width: 250px;
  }
  .activity-container {
    margin: 1rem 0;
  }
  .activity-row-container {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
  }
  .small-activity-image-container {
    width: 100%;
  }
  .small-activity-image {
    max-height: 150px;
    width: 100%;
  }
  .activity-description {
    padding-bottom: 3rem;
  }
  .small-activity-title {
    font-size: 1.25rem;
  }
  .small-activity-date {
    font-size: 11px;
    left: auto !important ;
    right: 1rem;
  }
}