<%= form_with(model: activity, local: true, multipart: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="name">Title</label>
    <input type="text" name="activity[title]" class="form-control" id="title" aria-describedby="name" placeholder="Cool thing in your neighborhood">
  </div>
  <div class="form-group">
    <label for="name">Description</label>
    <textarea type="textarea" name="activity[description]" class="form-control" id="description" aria-describedby="name"></textarea>
  </div>
  <div class="form-group">
    <label for="start_time">When does it start?</label>
    <input type="datetime-local" name="activity[start_time]" class="form-control" id="start_time" aria-describedby="start_time">
  </div>
  <div class="form-group">
    <label for="end_time">When does it start?</label>
    <input type="datetime-local" name="activity[end_time]" class="form-control" id="staend_timert_time" aria-describedby="end_time">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select name="activity[event_type_id]" class="form-control" id="activity_event_type_id">
      <option value="1">Festival</option>
      <option value="2">Outdoors</option>
      <option value="3">Indoors</option>
      <option value="4">Restaurant</option>
      <option value="5">Social</option>
    </select>
  </div>
  <div class="form-group">
    <label for="image">Example file input</label>
    <input type="file" name="activity[image]" class="form-control-file" id="image">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
