<p>Surf's up <%= @surf_report[0]['county'] %>. Find my code in app/views/activities/_surf.html.erb</p>
<% 
''' 
This is a block comment.

@surf_report is in a JSON format. It comes in an Array of reports (eg. waht if they have two surf reports for one city?)
But you can assume we only care about the first report. @surf_report[0]
''' 
%>

