<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Project 549</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-users"></i> Whats Happening? <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activities/new"><i class="fas fa-plus-square"></i> Create an Event</a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/<%= current_user ? 'logout' : 'login' %>"><%= current_user ? "Logout" : "Login" %></a>
      </li>
    </ul>
  </div>
</nav>