<div>
<h2>The Low Down</h2>
<div>
  <!-- USER LOCATION -->
  <h3>User Report</h3>
  <%= render 'shared/user_location' %>
  <!-- WEATHER REPORT -->
  <h3>Weather Report</h3>
  <%= render 'shared/weather' %>
  <!-- SURF REPORT -->
  <h3>Surf Report</h3>
  <%= render 'shared/surf' %>
</div>
</div>